
<div class="energy2" ng-controller="EnergyFlowCtrl3 as efctrl"> 
    <div class="endashboard3">
        <div class="head">
            <img src="img/engineflow/wide/menu-top.png" alt="" class="full"/>
            <div class="title" scale-font='{"width":"200px","line-height":"87px"}' ng-show="data"> 
                <translate>Available Mileage</translate> &nbsp;&nbsp; {{data.MileageData.remain}} KM
            </div>
        </div>
        <div class="main" id="main">
            <img src="img/engineflow/wide/bus-top.png" alt="" class="full"/>
            <img ng-src="{{gif_src}}" alt="" class="full"/>
            <div class="batterys" id="batterys" efbattery >
                
                <div class="battery-container">
                    <div class="text">
                        <p translate>FUEL CELL</p>
                        <p ng-show="data">{{data.GasData.remain}}%  &nbsp;&nbsp;  {{data.GasData.bottle_temp}}&#8451;</p>
                    </div>
                    <img ng-src="{{fuel_cell_src}}" alt="" />
                </div>
                
                <div class="battery-container">
                    <div class="text">
                        <p translate>BATTERY</p>
                        <p ng-show="data">{{data.PowerBatteryData.remain}}%  &nbsp;&nbsp;  {{data.PowerBatteryData.temp}}&#8451;</p>
                    </div>
                    <img ng-src="{{battery_src}}" alt="" /> <!-- img/engineflow/battery-e-80.png -->
                </div>
            </div>

            <div class="bottle-text" scale-font='{"width":"200px","line-height":"82px"}' ng-show="data">
                <translate>Total Mileage</translate> &nbsp;&nbsp; {{data.MileageData.total | number}} KM
            </div>
        </div>
    </div>
</div>

