
    <div class="energyflow">
        <div class="ef-dashboard">
            <div class="bg">
                <div class="head"> </div>
                <div class="main"> </div>
                <div class="footer"> </div>
            </div>
            <div class="head"> </div>
            <div class="main">
                <div class="gear"> </div>
                <div class="battery-h"> </div>
                <div class="battery-e"> </div>
                <div class="flow-h"> </div>
                <div class="flow-h2"> </div>
                <div class="flow-e"> </div>
                <div class="flow-e2"> </div>
            </div>
            <div class="footer">
                <div class="footer-left"></div>
            </div>
        </div>
    </div>


