
<div class="save-trees" cover='{"width":"1000px", "font-size":"30px"}' ng-controller="TreeCtrl as ctrl">


<h1 translate>This Hydrogen Bus Excretes Water</h1>

<div class="tree-container">
    <div class="axis">
        <span class="baseline">0</span>
        <span class="middle">10KM</span>
        <span class="top">20KM</span>
    </div>
        
    <div class="tree">
        <div class="bg" id="bg"> </div>
        <img src="img/tree.png" alt="" id="tree"/>
        </div>

    <div class="desc">
        <div class="top">
            <div class="valign" translate>The bus run</div>
            <div class="valign" >{{ctrl.totalMileage}} km</div>
        </div>
        <div class="middle">
            <!-- 
            <div class="valign">
                <h2>{{tree}}</h2>
                <p translate>Trees</p>
            </div>
            -->
            <div class="valign">
                <h2>{{tree}}</h2>
                <p translate>Emission reduction</p>
            </div>
        </div>
        <div class="bottom">
            <div class="valign" translate>
                compare to a traditional bus
            </div>
        </div>
    </div>
</div>

<div class="statement">
    <div class="help-us">
        <img src="img/thumb-trees-2.jpg" alt="" />
        <!-- 
        <div class="text">
            <div class="valign" translate>
                Help us to create a better enviroment for the future of our child
            </div>
            </div>
        -->
        <p class="valign" translate>Help us to create a better enviroment for the future of our child</p>
    </div>
    <!-- <p>Lorern ipsum dotor sit amnet,...</p> -->
</div>

</div>
