
<div class="save-trees">


<h1>This Hydrogen Bus Excretes Water</h1>

<div class="tree-container">
    <div class="axis">
        <span class="baseline">0</span>
        <span class="middle">10KM</span>
        <span class="top">20KM</span>
    </div>
    <div class="tree">
        <div class="bg"> </div>
        <img src="img/tree.png" alt="" />
    </div>
    <div class="desc">
        <div class="top"> <div class="valign">The bus saved</div> </div>
        <div class="middle">
            <div class="valign">
                <h2>4</h2>
                <p>Trees</p>
            </div>
        </div>
        <div class="bottom">
            <div class="valign">
                compare to a <br/> traditional bus
            </div>
        </div>
    </div>
</div>

<div class="statement">
    <div class="help-us">
        <img src="img/thumb-trees-2.jpg" alt="" />
        <div class="text">
            <div class="valign">
                Help us to create a better enviroment for the future of our child
            </div>
        </div>
    </div>
    <!-- <p>Lorern ipsum dotor sit amnet,...</p> -->
</div>

</div>
