
@import "www/lib/sass-mq/_mq.scss";
@import "_mq_setting.scss";


.endashboard3 {
    
    img.full {
        width: 100%;
        vertical-align: top;
    }
    .head {
        position: relative;
        
        .title {
            position: absolute;
            color: #fff;
            top: 0;
            left: 50%;
        }
    }
    .main {
        position: relative;
        
        .batterys {
            position: absolute;
            width: 290px;
            /* border: 1px solid #e08; */
            top: 30%;
            left: 59%;

            .battery-container {
                width: 36.2%;   /* 105 / 290 */
                /* position: relative; */
                
                &:first-child {
                    float: left;

                    .text {
                        left: -10%;
                    }
                }
                &:last-child {
                    float: right;

                    .text {
                        right: -10%;
                    }
                }

                img {
                    width: 100%;
                }

                .text {
                    position: absolute;
                    top: -33%;
                    
                    color: #fff;
                    font-weight: bold;
                    whitespace: nowrap;

                    p {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }

        .bottle-text {
            position: absolute;
            color: #fff;
            bottom: 0;
            left: 50%;
        }
    }

    @include mq($until:mobileExtra) {
        .main .batterys .battery-container {
            .text {
                top: -40%;
            }
            &:first-child {
                .text {
                    left: -30%;
                }
            }
            &:last-child {
                .text {
                    right: -30%;
                }
            }
        }
    }
}

