
@import "www/lib/sass-css3-mixins/css3-mixins.scss";
@import "www/lib/sass-mq/_mq.scss";
@import "_my_mixin.scss";

@import "_mq_setting.scss";

@import "efdashboard.scss";
@import "endashboard.scss";
@import "tree.scss";


.home {
    background: #fff;

    video {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    .tree {
        @include background-gradient(#f3f3f3, #e0e0e0);
    }
}