/* $mq-show-breakpoints: (mobile, mobileExtra, mobileLandscape, tablet, desktop, wide); */
/* @include mq-show-breakpoints;   */
.endashboard3 img.full {
  width: 100%;
  vertical-align: top; }

.endashboard3 .head {
  position: relative; }
  .endashboard3 .head .title {
    position: absolute;
    color: #fff;
    top: 0;
    left: 50%; }

.endashboard3 .main {
  position: relative; }
  .endashboard3 .main .batterys {
    position: absolute;
    width: 290px;
    /* border: 1px solid #e08; */
    top: 30%;
    left: 59%; }
    .endashboard3 .main .batterys .battery-container {
      width: 36.2%;
      /* 105 / 290 */
      /* position: relative; */ }
      .endashboard3 .main .batterys .battery-container:first-child {
        float: left; }
        .endashboard3 .main .batterys .battery-container:first-child .text {
          left: -25%; }
      .endashboard3 .main .batterys .battery-container:last-child {
        float: right; }
        .endashboard3 .main .batterys .battery-container:last-child .text {
          right: -40%; }
      .endashboard3 .main .batterys .battery-container img {
        width: 100%; }
      .endashboard3 .main .batterys .battery-container .text {
        position: absolute;
        top: -33%;
        color: #fff;
        font-weight: bold;
        whitespace: nowrap;
        text-align: center; }
        .endashboard3 .main .batterys .battery-container .text p {
          margin: 0;
          padding: 0; }
  .endashboard3 .main .bottle-text {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 50%; }

@media (max-width: 24.99em) {
  .endashboard3 .main .batterys .battery-container .text {
    top: -40%; }
  .endashboard3 .main .batterys .battery-container:first-child .text {
    left: -30%; }
  .endashboard3 .main .batterys .battery-container:last-child .text {
    right: -30%; } }
