/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/* $mq-show-breakpoints: (mobile, mobileExtra, mobileLandscape, tablet, desktop, wide); */
/* @include mq-show-breakpoints;   */
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/* $mq-show-breakpoints: (mobile, mobileExtra, mobileLandscape, tablet, desktop, wide); */
/* @include mq-show-breakpoints;   */
.ef-dashboard {
  position: relative;
  /* background: #000; */
  /* rotateZ(90deg)*/ }
  .ef-dashboard .bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1; }
    .ef-dashboard .bg .head {
      width: 100%;
      height: 104px;
      background: url("../img/engineflow/menu-bar-top.png") repeat-x center center; }
    .ef-dashboard .bg .main {
      width: 100%;
      height: 648px;
      background: #000; }
    .ef-dashboard .bg .footer {
      width: 100%;
      height: 78px;
      background: url("../img/engineflow/menu-bar-bottom.png") repeat-x center center; }
  .ef-dashboard .main {
    background: url("../img/engineflow/background.jpg") no-repeat center center;
    width: 100%;
    height: 648px;
    position: relative; }
  .ef-dashboard .head {
    background: url("../img/engineflow/menu-bar-top.png") no-repeat center center;
    width: 100%;
    height: 104px; }
  .ef-dashboard .footer {
    background: url("../img/engineflow/menu-bar-bottom.png") no-repeat center center;
    width: 100%;
    height: 78px;
    position: relative; }
  .ef-dashboard .footer-left {
    background: url("../img/engineflow/menu-bar-bottom-left.png") no-repeat center left;
    width: 199px;
    height: 115px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -540px; }
  .ef-dashboard .gear {
    background: url("../img/engineflow/gear-D.png") no-repeat center right;
    width: 137px;
    height: 360px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -180px;
    margin-right: -540px; }
  .ef-dashboard .battery-e {
    background: url("../img/engineflow/battery-e-20.png") no-repeat center center;
    background-size: cover;
    width: 52.5px;
    height: 98px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -49px;
    margin-left: 210px; }
  .ef-dashboard .battery-h {
    background: url("../img/engineflow/battery-h-90.png") no-repeat center center;
    background-size: cover;
    width: 52.5px;
    height: 98px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 100px;
    margin-top: -49px; }
  .ef-dashboard .flow-h, .ef-dashboard .flow-h2, .ef-dashboard .flow-e, .ef-dashboard .flow-e2 {
    background: url("../img/engineflow/arrow.png") no-repeat center center;
    position: absolute;
    width: 9px;
    height: 11px;
    top: 50%;
    left: 50%; }
  .ef-dashboard .flow-h, .ef-dashboard .flow-h2 {
    margin-left: 125px;
    margin-top: 50px;
    -webkit-animation: flow-h 2s infinite;
    -khtml-animation: flow-h 2s infinite;
    -moz-animation: flow-h 2s infinite;
    -ms-animation: flow-h 2s infinite;
    -o-animation: flow-h 2s infinite;
    animation: flow-h 2s infinite; }
  .ef-dashboard .flow-e, .ef-dashboard .flow-e2 {
    margin-left: 232px;
    margin-top: 50px;
    -webkit-animation: flow-e 2s infinite;
    -khtml-animation: flow-e 2s infinite;
    -moz-animation: flow-e 2s infinite;
    -ms-animation: flow-e 2s infinite;
    -o-animation: flow-e 2s infinite;
    animation: flow-e 2s infinite; }
  .ef-dashboard .flow-h2, .ef-dashboard .flow-e2 {
    -webkit-animation-delay: 0.2s;
    -khtml-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s; }

@-webkit-keyframes flow-h {
  0% {
    margin-left: 125px;
    margin-top: 50px; }
  33% {
    margin-left: 125px;
    margin-top: 95px;
    transform: rotateZ(0); }
  35% {
    transform: rotateZ(90deg); }
  100% {
    margin-left: 0px;
    margin-top: 110px;
    transform: rotateZ(90deg); } }

@-moz-keyframes flow-h {
  0% {
    margin-left: 125px;
    margin-top: 50px; }
  33% {
    margin-left: 125px;
    margin-top: 95px;
    transform: rotateZ(0); }
  35% {
    transform: rotateZ(90deg); }
  100% {
    margin-left: 0px;
    margin-top: 110px;
    transform: rotateZ(90deg); } }

@-ms-keyframes flow-h {
  .ef-dashboard 0% {
    margin-left: 125px;
    margin-top: 50px; }
  .ef-dashboard 33% {
    margin-left: 125px;
    margin-top: 95px;
    transform: rotateZ(0); }
  .ef-dashboard 35% {
    transform: rotateZ(90deg); }
  .ef-dashboard 100% {
    margin-left: 0px;
    margin-top: 110px;
    transform: rotateZ(90deg); } }

@-o-keyframes flow-h {
  0% {
    margin-left: 125px;
    margin-top: 50px; }
  33% {
    margin-left: 125px;
    margin-top: 95px;
    transform: rotateZ(0); }
  35% {
    transform: rotateZ(90deg); }
  100% {
    margin-left: 0px;
    margin-top: 110px;
    transform: rotateZ(90deg); } }

@keyframes flow-h {
  0% {
    margin-left: 125px;
    margin-top: 50px; }
  33% {
    margin-left: 125px;
    margin-top: 95px;
    transform: rotateZ(0); }
  35% {
    transform: rotateZ(90deg); }
  100% {
    margin-left: 0px;
    margin-top: 110px;
    transform: rotateZ(90deg); } }

@-webkit-keyframes flow-e {
  0% {
    margin-left: 232px;
    margin-top: 50px; }
  33% {
    margin-left: 232px;
    margin-top: 87px;
    transform: rotateZ(0); }
  35% {
    transform: rotateZ(90deg); }
  100% {
    margin-left: 0px;
    margin-top: 110px;
    transform: rotateZ(90deg); } }

@-moz-keyframes flow-e {
  0% {
    margin-left: 232px;
    margin-top: 50px; }
  33% {
    margin-left: 232px;
    margin-top: 87px;
    transform: rotateZ(0); }
  35% {
    transform: rotateZ(90deg); }
  100% {
    margin-left: 0px;
    margin-top: 110px;
    transform: rotateZ(90deg); } }

@-ms-keyframes flow-e {
  .ef-dashboard 0% {
    margin-left: 232px;
    margin-top: 50px; }
  .ef-dashboard 33% {
    margin-left: 232px;
    margin-top: 87px;
    transform: rotateZ(0); }
  .ef-dashboard 35% {
    transform: rotateZ(90deg); }
  .ef-dashboard 100% {
    margin-left: 0px;
    margin-top: 110px;
    transform: rotateZ(90deg); } }

@-o-keyframes flow-e {
  0% {
    margin-left: 232px;
    margin-top: 50px; }
  33% {
    margin-left: 232px;
    margin-top: 87px;
    transform: rotateZ(0); }
  35% {
    transform: rotateZ(90deg); }
  100% {
    margin-left: 0px;
    margin-top: 110px;
    transform: rotateZ(90deg); } }

@keyframes flow-e {
  0% {
    margin-left: 232px;
    margin-top: 50px; }
  33% {
    margin-left: 232px;
    margin-top: 87px;
    transform: rotateZ(0); }
  35% {
    transform: rotateZ(90deg); }
  100% {
    margin-left: 0px;
    margin-top: 110px;
    transform: rotateZ(90deg); } }
  @media (max-width: 24.99em) {
    .ef-dashboard .main {
      background-size: 540px 324px;
      height: 324px; }
    .ef-dashboard .head {
      background-size: 540px 52px;
      height: 52px; }
    .ef-dashboard .footer {
      background-size: 540px 39px;
      height: 39px; }
    .ef-dashboard .footer-left {
      background-size: 99.5px 57.5px;
      height: 57.5px;
      margin-left: -270px; }
    .ef-dashboard .gear {
      background-size: 68.5px 180px;
      height: 180px;
      margin-top: -90px;
      margin-right: -270px; }
    .ef-dashboard .battery-e {
      width: 26.25px;
      height: 49px;
      margin-top: -24.5px;
      margin-left: 105px; }
    .ef-dashboard .battery-h {
      width: 26.25px;
      height: 49px;
      margin-top: -24.5px;
      margin-left: 50px; }
    .ef-dashboard .bg .head {
      height: 52px; }
    .ef-dashboard .bg .main {
      height: 324px; }
    .ef-dashboard .bg .footer {
      height: 39px; }
    .ef-dashboard .flow-h, .ef-dashboard .flow-h2, .ef-dashboard .flow-e, .ef-dashboard .flow-e2 {
      width: 4.5px;
      height: 5.5px; }
    @-webkit-keyframes flow-h_5 {
      0% {
        margin-left: 62.5px;
        margin-top: 25px; }
      33% {
        margin-left: 62.5px;
        margin-top: 47.5px;
        transform: rotateZ(0); }
      35% {
        transform: rotateZ(90deg); }
      100% {
        margin-left: 0px;
        margin-top: 55px;
        transform: rotateZ(90deg); } }
    @-moz-keyframes flow-h_5 {
      0% {
        margin-left: 62.5px;
        margin-top: 25px; }
      33% {
        margin-left: 62.5px;
        margin-top: 47.5px;
        transform: rotateZ(0); }
      35% {
        transform: rotateZ(90deg); }
      100% {
        margin-left: 0px;
        margin-top: 55px;
        transform: rotateZ(90deg); } }
    @-ms-keyframes flow-h_5 {
      .ef-dashboard 0% {
        margin-left: 62.5px;
        margin-top: 25px; }
      .ef-dashboard 33% {
        margin-left: 62.5px;
        margin-top: 47.5px;
        transform: rotateZ(0); }
      .ef-dashboard 35% {
        transform: rotateZ(90deg); }
      .ef-dashboard 100% {
        margin-left: 0px;
        margin-top: 55px;
        transform: rotateZ(90deg); } }
    @-o-keyframes flow-h_5 {
      0% {
        margin-left: 62.5px;
        margin-top: 25px; }
      33% {
        margin-left: 62.5px;
        margin-top: 47.5px;
        transform: rotateZ(0); }
      35% {
        transform: rotateZ(90deg); }
      100% {
        margin-left: 0px;
        margin-top: 55px;
        transform: rotateZ(90deg); } }
    @keyframes flow-h_5 {
      0% {
        margin-left: 62.5px;
        margin-top: 25px; }
      33% {
        margin-left: 62.5px;
        margin-top: 47.5px;
        transform: rotateZ(0); }
      35% {
        transform: rotateZ(90deg); }
      100% {
        margin-left: 0px;
        margin-top: 55px;
        transform: rotateZ(90deg); } }
    @-webkit-keyframes flow-e_5 {
      0% {
        margin-left: 116px;
        margin-top: 25px; }
      33% {
        margin-left: 116px;
        margin-top: 43.5px;
        transform: rotateZ(0); }
      35% {
        transform: rotateZ(90deg); }
      100% {
        margin-left: 0px;
        margin-top: 55px;
        transform: rotateZ(90deg); } }
    @-moz-keyframes flow-e_5 {
      0% {
        margin-left: 116px;
        margin-top: 25px; }
      33% {
        margin-left: 116px;
        margin-top: 43.5px;
        transform: rotateZ(0); }
      35% {
        transform: rotateZ(90deg); }
      100% {
        margin-left: 0px;
        margin-top: 55px;
        transform: rotateZ(90deg); } }
    @-ms-keyframes flow-e_5 {
      .ef-dashboard 0% {
        margin-left: 116px;
        margin-top: 25px; }
      .ef-dashboard 33% {
        margin-left: 116px;
        margin-top: 43.5px;
        transform: rotateZ(0); }
      .ef-dashboard 35% {
        transform: rotateZ(90deg); }
      .ef-dashboard 100% {
        margin-left: 0px;
        margin-top: 55px;
        transform: rotateZ(90deg); } }
    @-o-keyframes flow-e_5 {
      0% {
        margin-left: 116px;
        margin-top: 25px; }
      33% {
        margin-left: 116px;
        margin-top: 43.5px;
        transform: rotateZ(0); }
      35% {
        transform: rotateZ(90deg); }
      100% {
        margin-left: 0px;
        margin-top: 55px;
        transform: rotateZ(90deg); } }
    @keyframes flow-e_5 {
      0% {
        margin-left: 116px;
        margin-top: 25px; }
      33% {
        margin-left: 116px;
        margin-top: 43.5px;
        transform: rotateZ(0); }
      35% {
        transform: rotateZ(90deg); }
      100% {
        margin-left: 0px;
        margin-top: 55px;
        transform: rotateZ(90deg); } }
    .ef-dashboard .flow-h, .ef-dashboard .flow-h2 {
      margin-left: 62.5px;
      margin-top: 25px;
      -webkit-animation: flow-h_5 2s infinite;
      -khtml-animation: flow-h_5 2s infinite;
      -moz-animation: flow-h_5 2s infinite;
      -ms-animation: flow-h_5 2s infinite;
      -o-animation: flow-h_5 2s infinite;
      animation: flow-h_5 2s infinite; }
    .ef-dashboard .flow-e, .ef-dashboard .flow-e2 {
      margin-left: 116px;
      margin-top: 25px;
      -webkit-animation: flow-e_5 2s infinite;
      -khtml-animation: flow-e_5 2s infinite;
      -moz-animation: flow-e_5 2s infinite;
      -ms-animation: flow-e_5 2s infinite;
      -o-animation: flow-e_5 2s infinite;
      animation: flow-e_5 2s infinite; }
    .ef-dashboard .flow-h2, .ef-dashboard .flow-e2 {
      -webkit-animation-delay: 0.2s;
      -khtml-animation-delay: 0.2s;
      -moz-animation-delay: 0.2s;
      -ms-animation-delay: 0.2s;
      -o-animation-delay: 0.2s;
      animation-delay: 0.2s; } }
  @media (min-width: 25em) and (max-width: 46.24em) {
    .ef-dashboard .main {
      background-size: 648px 388.8px;
      height: 388.8px; }
    .ef-dashboard .head {
      background-size: 648px 62.4px;
      height: 62.4px; }
    .ef-dashboard .footer {
      background-size: 648px 46.8px;
      height: 46.8px; }
    .ef-dashboard .footer-left {
      background-size: 119.4px 69px;
      height: 69px;
      margin-left: -324px; }
    .ef-dashboard .gear {
      background-size: 82.2px 216px;
      height: 216px;
      margin-top: -108px;
      margin-right: -324px; }
    .ef-dashboard .battery-e {
      width: 31.5px;
      height: 58.8px;
      margin-top: -29.4px;
      margin-left: 126px; }
    .ef-dashboard .battery-h {
      width: 31.5px;
      height: 58.8px;
      margin-top: -29.4px;
      margin-left: 60px; }
    .ef-dashboard .bg .head {
      height: 62.4px; }
    .ef-dashboard .bg .main {
      height: 388.8px; }
    .ef-dashboard .bg .footer {
      height: 46.8px; }
    .ef-dashboard .flow-h, .ef-dashboard .flow-h2, .ef-dashboard .flow-e, .ef-dashboard .flow-e2 {
      width: 5.4px;
      height: 6.6px; }
    @-webkit-keyframes flow-h_6 {
      0% {
        margin-left: 75px;
        margin-top: 30px; }
      33% {
        margin-left: 75px;
        margin-top: 57px;
        transform: rotateZ(0); }
      35% {
        transform: rotateZ(90deg); }
      100% {
        margin-left: 0px;
        margin-top: 66px;
        transform: rotateZ(90deg); } }
    @-moz-keyframes flow-h_6 {
      0% {
        margin-left: 75px;
        margin-top: 30px; }
      33% {
        margin-left: 75px;
        margin-top: 57px;
        transform: rotateZ(0); }
      35% {
        transform: rotateZ(90deg); }
      100% {
        margin-left: 0px;
        margin-top: 66px;
        transform: rotateZ(90deg); } }
    @-ms-keyframes flow-h_6 {
      .ef-dashboard 0% {
        margin-left: 75px;
        margin-top: 30px; }
      .ef-dashboard 33% {
        margin-left: 75px;
        margin-top: 57px;
        transform: rotateZ(0); }
      .ef-dashboard 35% {
        transform: rotateZ(90deg); }
      .ef-dashboard 100% {
        margin-left: 0px;
        margin-top: 66px;
        transform: rotateZ(90deg); } }
    @-o-keyframes flow-h_6 {
      0% {
        margin-left: 75px;
        margin-top: 30px; }
      33% {
        margin-left: 75px;
        margin-top: 57px;
        transform: rotateZ(0); }
      35% {
        transform: rotateZ(90deg); }
      100% {
        margin-left: 0px;
        margin-top: 66px;
        transform: rotateZ(90deg); } }
    @keyframes flow-h_6 {
      0% {
        margin-left: 75px;
        margin-top: 30px; }
      33% {
        margin-left: 75px;
        margin-top: 57px;
        transform: rotateZ(0); }
      35% {
        transform: rotateZ(90deg); }
      100% {
        margin-left: 0px;
        margin-top: 66px;
        transform: rotateZ(90deg); } }
    @-webkit-keyframes flow-e_6 {
      0% {
        margin-left: 139.2px;
        margin-top: 30px; }
      33% {
        margin-left: 139.2px;
        margin-top: 52.2px;
        transform: rotateZ(0); }
      35% {
        transform: rotateZ(90deg); }
      100% {
        margin-left: 0px;
        margin-top: 66px;
        transform: rotateZ(90deg); } }
    @-moz-keyframes flow-e_6 {
      0% {
        margin-left: 139.2px;
        margin-top: 30px; }
      33% {
        margin-left: 139.2px;
        margin-top: 52.2px;
        transform: rotateZ(0); }
      35% {
        transform: rotateZ(90deg); }
      100% {
        margin-left: 0px;
        margin-top: 66px;
        transform: rotateZ(90deg); } }
    @-ms-keyframes flow-e_6 {
      .ef-dashboard 0% {
        margin-left: 139.2px;
        margin-top: 30px; }
      .ef-dashboard 33% {
        margin-left: 139.2px;
        margin-top: 52.2px;
        transform: rotateZ(0); }
      .ef-dashboard 35% {
        transform: rotateZ(90deg); }
      .ef-dashboard 100% {
        margin-left: 0px;
        margin-top: 66px;
        transform: rotateZ(90deg); } }
    @-o-keyframes flow-e_6 {
      0% {
        margin-left: 139.2px;
        margin-top: 30px; }
      33% {
        margin-left: 139.2px;
        margin-top: 52.2px;
        transform: rotateZ(0); }
      35% {
        transform: rotateZ(90deg); }
      100% {
        margin-left: 0px;
        margin-top: 66px;
        transform: rotateZ(90deg); } }
    @keyframes flow-e_6 {
      0% {
        margin-left: 139.2px;
        margin-top: 30px; }
      33% {
        margin-left: 139.2px;
        margin-top: 52.2px;
        transform: rotateZ(0); }
      35% {
        transform: rotateZ(90deg); }
      100% {
        margin-left: 0px;
        margin-top: 66px;
        transform: rotateZ(90deg); } }
    .ef-dashboard .flow-h, .ef-dashboard .flow-h2 {
      margin-left: 75px;
      margin-top: 30px;
      -webkit-animation: flow-h_6 2s infinite;
      -khtml-animation: flow-h_6 2s infinite;
      -moz-animation: flow-h_6 2s infinite;
      -ms-animation: flow-h_6 2s infinite;
      -o-animation: flow-h_6 2s infinite;
      animation: flow-h_6 2s infinite; }
    .ef-dashboard .flow-e, .ef-dashboard .flow-e2 {
      margin-left: 139.2px;
      margin-top: 30px;
      -webkit-animation: flow-e_6 2s infinite;
      -khtml-animation: flow-e_6 2s infinite;
      -moz-animation: flow-e_6 2s infinite;
      -ms-animation: flow-e_6 2s infinite;
      -o-animation: flow-e_6 2s infinite;
      animation: flow-e_6 2s infinite; }
    .ef-dashboard .flow-h2, .ef-dashboard .flow-e2 {
      -webkit-animation-delay: 0.2s;
      -khtml-animation-delay: 0.2s;
      -moz-animation-delay: 0.2s;
      -ms-animation-delay: 0.2s;
      -o-animation-delay: 0.2s;
      animation-delay: 0.2s; } }
  @media (min-width: 75em) {
    .ef-dashboard .footer-left {
      margin-left: 0;
      left: 0; } }

/* $mq-show-breakpoints: (mobile, mobileExtra, mobileLandscape, tablet, desktop, wide); */
/* @include mq-show-breakpoints;   */
.endashboard3 img.full {
  width: 100%;
  vertical-align: top; }

.endashboard3 .head {
  position: relative; }
  .endashboard3 .head .title {
    position: absolute;
    color: #fff;
    top: 0;
    left: 50%; }

.endashboard3 .main {
  position: relative; }
  .endashboard3 .main .batterys {
    position: absolute;
    width: 290px;
    /* border: 1px solid #e08; */
    top: 30%;
    left: 59%; }
    .endashboard3 .main .batterys .battery-container {
      width: 36.2%;
      /* 105 / 290 */
      /* position: relative; */ }
      .endashboard3 .main .batterys .battery-container:first-child {
        float: left; }
        .endashboard3 .main .batterys .battery-container:first-child .text {
          left: -25%; }
      .endashboard3 .main .batterys .battery-container:last-child {
        float: right; }
        .endashboard3 .main .batterys .battery-container:last-child .text {
          right: -40%; }
      .endashboard3 .main .batterys .battery-container img {
        width: 100%; }
      .endashboard3 .main .batterys .battery-container .text {
        position: absolute;
        top: -33%;
        color: #fff;
        font-weight: bold;
        whitespace: nowrap;
        text-align: center; }
        .endashboard3 .main .batterys .battery-container .text p {
          margin: 0;
          padding: 0; }
  .endashboard3 .main .bottle-text {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 50%; }

@media (max-width: 24.99em) {
  .endashboard3 .main .batterys .battery-container .text {
    top: -40%; }
  .endashboard3 .main .batterys .battery-container:first-child .text {
    left: -30%; }
  .endashboard3 .main .batterys .battery-container:last-child .text {
    right: -30%; } }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/* $mq-show-breakpoints: (mobile, mobileExtra, mobileLandscape, tablet, desktop, wide); */
/* @include mq-show-breakpoints;   */
.valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

/*
.save-trees {

    h1 {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        margin: 0;
        background: #f3f3f3;
        padding-top: 10px;
    }

    .tree-container {
        $axis-width: 27px;
        $tree-width: 190px;
        $tree-height: 172px;

        position: relative;
        padding: 21px 15px;
        @include background-gradient(#f3f3f3, #e0e0e0);

        

        .axis {
            position: absolute;
            float: left;
            width: $axis-width;
            height: $tree-height;
            font-size: 6px;

            span {
                position: absolute;
                right: 5px;
            }
            .baseline {
                bottom: 0;
                margin-bottom: -8px;
            }
            .middle {
                top: $tree-height / 2;
                margin-top: -8px;
            }
            .top {
                top: 0;
                margin-top: -8px;
            }
        }
        .tree {
            margin-left: $axis-width;
            width: $tree-width;
            float: left;
            position: absolute;

            .bg {
                background: #8eba76;
                position: absolute;
                height: 80px;
                width: $tree-width - 14;
                bottom: 8px;
                left: 14px;
                z-index: 1;
            }
            
            img {
                width: $tree-width;
                height: $tree-height;
                position: relative;
                z-index: 2;
            }
        }
        .desc {
            margin-left: $axis-width + $tree-width;
            height: $tree-height;
            text-align: center;

            .top {
                height: 57px;
                @include background-gradient(#93cff8, #f4f4f5);
                padding: 20px;

                .valign {
                    height: 30px;
                }
            }
            .middle {
                height: 79px;
                @include background-gradient(#e1e18f, #e6e6e6);
                padding: 10px 0;
                h2 {
                    margin: 0;
                }
                .valign {
                    height: 80px;
                }
            }
            .bottom {
                height: 34px;
                background: #45aff7;
                color: #fff;
                font-size: 8px;
                line-height: 12px;
                padding: 5px;
            }
            
        }
    }

    .statement {
        $forest-img-width: 93px;
        $forest-img-height: 69px;
        
        background: #fff;
        padding: 12px 16px;

        .help-us {
            @include clearfix;
            height: $forest-img-height;
            
            img {
                width: $forest-img-width;
                float: left;
            }
            .text {
                margin-left: $forest-img-width;
                padding: 18px;
                @include background-gradient(#92cff8, #f2f3f3);
                font-size: 12px;
                line-height: 14px;
                height: $forest-img-height;
            }
        }
        p {
            padding: 15px 5px;
            background: #f2f3f3;
        }
    }


    // responsive 

    @mixin tree-rsp($factor) {
        $axis-width: 27px;
        $tree-width: 190px;
        $tree-height: 172px;
        $forest-img-width: 93px;
        $forest-img-height: 69px;

        
        font-size: 10px * $factor;
        h1 {
            font-size: 16px * $factor;
        }
        
        .tree-container {
            .axis {
                height: $tree-height * $factor;
                width: $axis-width * $factor;
                font-size: 6px * $factor;
                .middle {
                    top: $tree-height * $factor / 2;
                }
                
            }
            .tree {
                margin-left: $axis-width * $factor;
                width: $tree-width * $factor;
                .bg {
                    width: ($tree-width - 14) * $factor;
                    left: 14px * $factor;
                }
                img {
                    width: $tree-width * $factor;
                    height: $tree-height * $factor;
                }
                
            }
            .desc {
                margin-left: ($axis-width + $tree-width) * $factor;
                height: $tree-height * $factor;
                .top {
                    height: $tree-height * $factor * 0.3;
                }
                .middle {
                    height: $tree-height * $factor * 0.5;
                }
                .bottom {
                    height: $tree-height * $factor * 0.2;
                    
                    font-size: 8px * $factor;
                    line-height: 12px * $factor;
                }
            }
        }
        .statement .help-us {
            height: $forest-img-height * $factor;
            img {
                width: $forest-img-width * $factor;
            }
            .text {
                margin-left: $forest-img-width * $factor;
                height: $forest-img-height * $factor;
                font-size: 12px * $factor;
                line-height: 14px * $factor;
            }
        }
    }

    @include mq(mobileLandscape, tablet) {
        @include tree-rsp(2);
    }

    @include mq(tablet, desktop) {
        @include tree-rsp(2.5);
    }

    @include mq(desktop, wide) {
        @include tree-rsp(3);
    }

    @include mq($from: wide) {
        @include tree-rsp(4);
    }
    
}
*/
.cover {
  margin: 0 auto; }

.save-trees {
  margin: 0 auto;
  overflow: hidden;
  padding: 1%; }
  .save-trees h1 {
    height: 10%;
    text-align: center;
    margin: 0;
    padding: 1%; }
  .save-trees .tree-container {
    height: 60%;
    padding: 3% 0;
    position: relative; }
  .save-trees .statement {
    height: 24%;
    margin: 2% 0;
    background: #fff; }
    .save-trees .statement .help-us {
      height: 100%;
      *zoom: 1;
      background-color: #92cff8;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#92cff8), to(#f2f3f3));
      background-image: -webkit-linear-gradient(top, #92cff8, #f2f3f3);
      background-image: -moz-linear-gradient(top, #92cff8, #f2f3f3);
      background-image: -ms-linear-gradient(top, #92cff8, #f2f3f3);
      background-image: -o-linear-gradient(top, #92cff8, #f2f3f3);
      background-image: linear-gradient(top, #92cff8, #f2f3f3);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#92cff8', endColorStr='#f2f3f3'); }
      .save-trees .statement .help-us:before, .save-trees .statement .help-us:after {
        display: table;
        content: "";
        line-height: 0; }
      .save-trees .statement .help-us:after {
        clear: both; }
      .save-trees .statement .help-us img {
        height: 100%;
        float: left;
        margin-right: 2%; }
      .save-trees .statement .help-us p {
        font-size: 100%; }
  .save-trees .tree-container {
    overflow: hidden; }
    .save-trees .tree-container .axis, .save-trees .tree-container .tree, .save-trees .tree-container .desc {
      height: 100%; }
    .save-trees .tree-container .axis {
      float: left;
      height: 90%; }
    .save-trees .tree-container .desc {
      height: 97%; }
    .save-trees .tree-container .axis {
      position: absolute;
      width: 9%;
      background: #e8e8e8; }
      .save-trees .tree-container .axis span {
        position: absolute;
        right: 5px; }
      .save-trees .tree-container .axis .baseline {
        bottom: 2%; }
      .save-trees .tree-container .axis .middle {
        top: 45%; }
      .save-trees .tree-container .axis .top {
        top: 0; }
    .save-trees .tree-container .tree {
      float: left;
      margin-left: 9%;
      background: #fff;
      position: relative; }
      .save-trees .tree-container .tree .bg {
        background: #8eba76;
        position: absolute;
        height: 80px;
        width: 90%;
        bottom: 8px;
        left: 14px;
        z-index: 1;
        margin: 0 3%; }
      .save-trees .tree-container .tree img {
        position: relative;
        height: 100%;
        z-index: 2; }
    .save-trees .tree-container .desc {
      text-align: center; }
      .save-trees .tree-container .desc .top {
        height: 35%;
        background-color: #93cff8;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#93cff8), to(#f4f4f5));
        background-image: -webkit-linear-gradient(top, #93cff8, #f4f4f5);
        background-image: -moz-linear-gradient(top, #93cff8, #f4f4f5);
        background-image: -ms-linear-gradient(top, #93cff8, #f4f4f5);
        background-image: -o-linear-gradient(top, #93cff8, #f4f4f5);
        background-image: linear-gradient(top, #93cff8, #f4f4f5);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#93cff8', endColorStr='#f4f4f5'); }
      .save-trees .tree-container .desc .middle {
        height: 40%;
        background-color: #e1e18f;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#e1e18f), to(#e6e6e6));
        background-image: -webkit-linear-gradient(top, #e1e18f, #e6e6e6);
        background-image: -moz-linear-gradient(top, #e1e18f, #e6e6e6);
        background-image: -ms-linear-gradient(top, #e1e18f, #e6e6e6);
        background-image: -o-linear-gradient(top, #e1e18f, #e6e6e6);
        background-image: linear-gradient(top, #e1e18f, #e6e6e6);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e1e18f', endColorStr='#e6e6e6'); }
      .save-trees .tree-container .desc .bottom {
        height: 25%;
        background: #45aff7; }

.home {
  background: #fff; }
  .home .section {
    width: 100%;
    /* position: fixed; */
    /* top: 50%; */
    /* left: 50%; */
    /* min-width: 100%; */
    /* min-height: 100%; */
    /* width: auto; */
    /* height: auto; */
    /* -ms-transform: translateX(-50%) translateY(-50%); */
    /* -moz-transform: translateX(-50%) translateY(-50%); */
    /* -webkit-transform: translateX(-50%) translateY(-50%); */
    /* transform: translateX(-50%) translateY(-50%); */
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto; }
  .home video {
    display: block;
    margin: 0 auto;
    width: 100%; }
  .home .tree {
    background-color: #f3f3f3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e0e0e0));
    background-image: -webkit-linear-gradient(top, #f3f3f3, #e0e0e0);
    background-image: -moz-linear-gradient(top, #f3f3f3, #e0e0e0);
    background-image: -ms-linear-gradient(top, #f3f3f3, #e0e0e0);
    background-image: -o-linear-gradient(top, #f3f3f3, #e0e0e0);
    background-image: linear-gradient(top, #f3f3f3, #e0e0e0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', endColorStr='#e0e0e0'); }
  .home #msg {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 300px;
    height: 100px;
    background: #000;
    color: #fff;
    font-size: 30px;
    z-index: 100; }
