/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/* $mq-show-breakpoints: (mobile, mobileExtra, mobileLandscape, tablet, desktop, wide); */
/* @include mq-show-breakpoints;   */
.valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

/*
.save-trees {

    h1 {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        margin: 0;
        background: #f3f3f3;
        padding-top: 10px;
    }

    .tree-container {
        $axis-width: 27px;
        $tree-width: 190px;
        $tree-height: 172px;

        position: relative;
        padding: 21px 15px;
        @include background-gradient(#f3f3f3, #e0e0e0);

        

        .axis {
            position: absolute;
            float: left;
            width: $axis-width;
            height: $tree-height;
            font-size: 6px;

            span {
                position: absolute;
                right: 5px;
            }
            .baseline {
                bottom: 0;
                margin-bottom: -8px;
            }
            .middle {
                top: $tree-height / 2;
                margin-top: -8px;
            }
            .top {
                top: 0;
                margin-top: -8px;
            }
        }
        .tree {
            margin-left: $axis-width;
            width: $tree-width;
            float: left;
            position: absolute;

            .bg {
                background: #8eba76;
                position: absolute;
                height: 80px;
                width: $tree-width - 14;
                bottom: 8px;
                left: 14px;
                z-index: 1;
            }
            
            img {
                width: $tree-width;
                height: $tree-height;
                position: relative;
                z-index: 2;
            }
        }
        .desc {
            margin-left: $axis-width + $tree-width;
            height: $tree-height;
            text-align: center;

            .top {
                height: 57px;
                @include background-gradient(#93cff8, #f4f4f5);
                padding: 20px;

                .valign {
                    height: 30px;
                }
            }
            .middle {
                height: 79px;
                @include background-gradient(#e1e18f, #e6e6e6);
                padding: 10px 0;
                h2 {
                    margin: 0;
                }
                .valign {
                    height: 80px;
                }
            }
            .bottom {
                height: 34px;
                background: #45aff7;
                color: #fff;
                font-size: 8px;
                line-height: 12px;
                padding: 5px;
            }
            
        }
    }

    .statement {
        $forest-img-width: 93px;
        $forest-img-height: 69px;
        
        background: #fff;
        padding: 12px 16px;

        .help-us {
            @include clearfix;
            height: $forest-img-height;
            
            img {
                width: $forest-img-width;
                float: left;
            }
            .text {
                margin-left: $forest-img-width;
                padding: 18px;
                @include background-gradient(#92cff8, #f2f3f3);
                font-size: 12px;
                line-height: 14px;
                height: $forest-img-height;
            }
        }
        p {
            padding: 15px 5px;
            background: #f2f3f3;
        }
    }


    // responsive 

    @mixin tree-rsp($factor) {
        $axis-width: 27px;
        $tree-width: 190px;
        $tree-height: 172px;
        $forest-img-width: 93px;
        $forest-img-height: 69px;

        
        font-size: 10px * $factor;
        h1 {
            font-size: 16px * $factor;
        }
        
        .tree-container {
            .axis {
                height: $tree-height * $factor;
                width: $axis-width * $factor;
                font-size: 6px * $factor;
                .middle {
                    top: $tree-height * $factor / 2;
                }
                
            }
            .tree {
                margin-left: $axis-width * $factor;
                width: $tree-width * $factor;
                .bg {
                    width: ($tree-width - 14) * $factor;
                    left: 14px * $factor;
                }
                img {
                    width: $tree-width * $factor;
                    height: $tree-height * $factor;
                }
                
            }
            .desc {
                margin-left: ($axis-width + $tree-width) * $factor;
                height: $tree-height * $factor;
                .top {
                    height: $tree-height * $factor * 0.3;
                }
                .middle {
                    height: $tree-height * $factor * 0.5;
                }
                .bottom {
                    height: $tree-height * $factor * 0.2;
                    
                    font-size: 8px * $factor;
                    line-height: 12px * $factor;
                }
            }
        }
        .statement .help-us {
            height: $forest-img-height * $factor;
            img {
                width: $forest-img-width * $factor;
            }
            .text {
                margin-left: $forest-img-width * $factor;
                height: $forest-img-height * $factor;
                font-size: 12px * $factor;
                line-height: 14px * $factor;
            }
        }
    }

    @include mq(mobileLandscape, tablet) {
        @include tree-rsp(2);
    }

    @include mq(tablet, desktop) {
        @include tree-rsp(2.5);
    }

    @include mq(desktop, wide) {
        @include tree-rsp(3);
    }

    @include mq($from: wide) {
        @include tree-rsp(4);
    }
    
}
*/
.cover {
  margin: 0 auto; }

.save-trees {
  margin: 0 auto;
  overflow: hidden;
  padding: 1%; }
  .save-trees h1 {
    height: 10%;
    text-align: center;
    margin: 0;
    padding: 1%; }
  .save-trees .tree-container {
    height: 60%;
    padding: 3% 0;
    position: relative; }
  .save-trees .statement {
    height: 24%;
    margin: 2% 0;
    background: #fff; }
    .save-trees .statement .help-us {
      height: 100%;
      *zoom: 1;
      background-color: #92cff8;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#92cff8), to(#f2f3f3));
      background-image: -webkit-linear-gradient(top, #92cff8, #f2f3f3);
      background-image: -moz-linear-gradient(top, #92cff8, #f2f3f3);
      background-image: -ms-linear-gradient(top, #92cff8, #f2f3f3);
      background-image: -o-linear-gradient(top, #92cff8, #f2f3f3);
      background-image: linear-gradient(top, #92cff8, #f2f3f3);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#92cff8', endColorStr='#f2f3f3'); }
      .save-trees .statement .help-us:before, .save-trees .statement .help-us:after {
        display: table;
        content: "";
        line-height: 0; }
      .save-trees .statement .help-us:after {
        clear: both; }
      .save-trees .statement .help-us img {
        height: 100%;
        float: left;
        margin-right: 2%; }
      .save-trees .statement .help-us p {
        font-size: 100%; }
  .save-trees .tree-container {
    overflow: hidden; }
    .save-trees .tree-container .axis, .save-trees .tree-container .tree, .save-trees .tree-container .desc {
      height: 100%; }
    .save-trees .tree-container .axis {
      float: left;
      height: 90%; }
    .save-trees .tree-container .desc {
      height: 97%; }
    .save-trees .tree-container .axis {
      position: absolute;
      width: 9%;
      background: #e8e8e8; }
      .save-trees .tree-container .axis span {
        position: absolute;
        right: 5px; }
      .save-trees .tree-container .axis .baseline {
        bottom: 2%; }
      .save-trees .tree-container .axis .middle {
        top: 45%; }
      .save-trees .tree-container .axis .top {
        top: 0; }
    .save-trees .tree-container .tree {
      float: left;
      margin-left: 9%;
      background: #fff;
      position: relative; }
      .save-trees .tree-container .tree .bg {
        background: #8eba76;
        position: absolute;
        height: 80px;
        width: 90%;
        bottom: 8px;
        left: 14px;
        z-index: 1;
        margin: 0 3%; }
      .save-trees .tree-container .tree img {
        position: relative;
        height: 100%;
        z-index: 2; }
    .save-trees .tree-container .desc {
      text-align: center; }
      .save-trees .tree-container .desc .top {
        height: 35%;
        background-color: #93cff8;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#93cff8), to(#f4f4f5));
        background-image: -webkit-linear-gradient(top, #93cff8, #f4f4f5);
        background-image: -moz-linear-gradient(top, #93cff8, #f4f4f5);
        background-image: -ms-linear-gradient(top, #93cff8, #f4f4f5);
        background-image: -o-linear-gradient(top, #93cff8, #f4f4f5);
        background-image: linear-gradient(top, #93cff8, #f4f4f5);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#93cff8', endColorStr='#f4f4f5'); }
      .save-trees .tree-container .desc .middle {
        height: 40%;
        background-color: #e1e18f;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#e1e18f), to(#e6e6e6));
        background-image: -webkit-linear-gradient(top, #e1e18f, #e6e6e6);
        background-image: -moz-linear-gradient(top, #e1e18f, #e6e6e6);
        background-image: -ms-linear-gradient(top, #e1e18f, #e6e6e6);
        background-image: -o-linear-gradient(top, #e1e18f, #e6e6e6);
        background-image: linear-gradient(top, #e1e18f, #e6e6e6);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e1e18f', endColorStr='#e6e6e6'); }
      .save-trees .tree-container .desc .bottom {
        height: 25%;
        background: #45aff7; }
